.blockContainer{
	position: relative;
	width: 100px;
	height: 100px;
	top: 50hv;
	left: 50wv;
}

#div1{
	position: relative;
	width: 100%;
	height: 45%;
	background-color: #B2FFE9;
	margin-bottom: 10px;

}

#div2{
	position: relative;
	float: left;
	vertical-align: bottom;
	width: 45%;
	height: 45%;
	background-color: #B2BFFC;

}

#div3{
	position: relative;
	float: right;
	width: 45%;
	height: 45%;
	background-color:#F26969;
}