body {
  background-color:#D87B0A;
}

.blockContainer{
	position: relative; 
	width: 100vw;
	height: 100vw;
	
}

#div1{

	position: relative;
	width: 24%;
	height: 80%;
	background-color: #D9545B;
	margin-bottom: 10px;

}

#div2{
	position: relative;
	float: left;
	vertical-align: bottom;
	width: 24%;
	height: 80%;
	background-color: #21388C;

}

#div3{
	position: relative;
	float: right;
	width: 24%;
	height: 80%;
	background-color: #F4BF23;

}