

body{
	background-image:url('../img/pond.png');
	background-repeat:no-repeat;
	background-size:contain;
	background-position:center;
	height:96vh;
	overflow: hidden;
}

#frog{
	max-height: 70vh;
	margin: auto;
	margin-top: 21vh;
}
#animatedfrog{
	text-align: center;
	margin: auto;
	width: 80%;
}


.animated { 
	animation-name: bounce;
	animation-duration: 4s;
	animation-iteration-count: 10;
	animation-timing-function: ease-out;
	animation-fill-mode: forwards;
} 

@-webkit-keyframes bounce { 
	0%, 20%, 50%, 80%, 100% {-webkit-transform: translateY(0);} 
	40% {-webkit-transform: translateY(-30px);} 
	60% {-webkit-transform: translateY(-15px);} 
} 

@keyframes bounce { 
	0%, 20%, 50%, 80%, 100% {transform: translateY(0);} 
	40% {transform: translateY(-30px);} 
	60% {transform: translateY(-15px);} 
} 

.bounce { 
	-webkit-animation-name: bounce; 
	animation-name: bounce; 
}


/*http://www.hongkiat.com/blog/css3-bounce-effect/*/