body {
  /*background:url("../image/sky.png") no-repeat center;*/
  overflow:hidden;
}
.scene {
  position:absolute;
  bottom:0;
  left:0;
  overflow:hidden;
  right:0;
  height:800px;
}
.scene > div {
  position:absolute;
  bottom:0;
}
.ground {
  width:100%;
  height:30px;
  background:url("../image/ground.png") no-repeat center;
  z-index:999;
}
.scene > div.clouds {
  width:895px;
  left:50%;
  margin-left:-447px;
  height:255px;
  bottom:250px;
  background:url("../image/clouds3.png") no-repeat center;
}

.buildings {  
  width:763px;
  height:270px;  
  left:50%;
  margin-left:-400px;
  background:url("../image/building2.png") no-repeat center;
 }