#wrapper{
	position: absolute; 
	width:100px;
	height:100px;
  	top: 50%;
  	left: 50%;
  	margin:-50px 0 0 -50px;
}
#div1{
	position: relative;
	width: 100%;
	height: 45%;
	background-color: #b2ffe9;
	margin-bottom: 10px;
}
#div2{
	position: relative;
	float: left;
	vertical-align: bottom;
	width: 45%;
	height: 45%;
	background-color: #b2bffc;
}
#div3{
	position: relative;
	float: right;
	width: 45%;
	height: 45%;
	background-color: #f26969;
}

#roof:before {
  content: '';
  position: absolute;
  right: 50%; bottom: 58.5%;
  border-right: 90px solid #f4efd9;
  border-top: 52px solid transparent;
}
#roof2:before {
  content: '';
  position: absolute;
  left: 50%; bottom: 58.5%;
  border-left: 90px solid #f4efd9;
  border-top: 52px solid transparent;
}
#door{
	position: absolute;
	width: 40px;
	height: 70px;
	left:48.4%;
	top:47.5%;
	background-color: white;
}
#door2{
	position: absolute;
	width: 25px;
	height: 60px;
	left:49.1%;
	top:48.6%;
	background-color: #cac5b2;
}
#roof3{
	position: absolute;
	width: 25px;
	height: 50px;
	left:52%;
	top:33%;
	background-color: #cac5b2;
}
#smoke {
	position: absolute;
	width: 25px; height: 160px;
	left: 52%; top: 10%;
}
#s1{
	position: relative;
	width: 23px;
	height: 23px;
	top:135px;
	border-radius:50%;
	background-color: #f4efd9;
}