/*#wrapper{
	position: absolute; 
	width:100px;
	height:100px;
  	top: 50%;
  	left: 50%;
  	margin:-50px 0 0 -50px;
}*/

body {
	background-color: #C7BFB5;
	width:100%;
	height:100%;
	margin:0;
	padding:0;
	position: relative;
	top:0;
	left:0;
	overflow-x:hidden;
}

#bouquet {
	width:60%;
	height:90vh;
	position: absolute;
	margin-left: 300px;
	float:left;
	z-index: 1;
	text-align:center;
	top:1vh;
/*	background-color: #000;*/
}

.flower-item {
	display:inline-block;
	height: 150px;
	width:150px;
	margin-top: 10px;
	padding:35px;
/*	background-color: white;
*/
}

#flower {
	background-image: url("images/flower.png");
	position: relative;
	width: 100px;
	height: 100px;
	margin-top: 10px;
	background-size: 100%;
	opacity: 20%;
}

#flower2 {
	background-image: url("images/flower2.png");
	position: relative;
	width: 100px;
	height: 100px;
	margin-top: 10px;
	background-size: 100%;
	opacity: 20%;
}

