@import 'https://fonts.googleapis.com/css?family=Libre+Baskerville';

* { 
	margin:0;
}

body {
	font-family: 'Libre Baskerville', serif;
	background-image:url(assets/img/ball.jpg);
	background-position: right bottom, left top;
    background-repeat: no-repeat, repeat;
	width:100%;
}

#background{
	width:100%;
	height:100%

}

#bg_img{
	width:100%;
	height:100%;
	position:absolute;
	background-size: contain;
}


#content{
	width:100%;
	height:100%;
	position:relative;
}

h1{
	font-size:80px;
	font-style: lowercase;
	color:white;
	padding-left:120px;
	padding-top:60px;
	letter-spacing:2px;
	opacity: 0.5;
}

h2{
	font-size:15px;
	color:white;
	letter-spacing:3px;
}

h3{
	font-size:15px;
	color:white;
	padding-top:40px;
	letter-spacing:2px;
}
h4{
	font-size:10px;
	color:white;
	padding-top:10px;
	padding-bottom:5
	px;
	letter-spacing:1px;
}

hr{
	margin-left:100px;
	width:520px;
	opacity: 0.3;
}

#type{
	font:'Libre Baskerville', serif;
	font-size:10px;
	height:20px;
}

#wrapper {
	position:relative;
	width:100%;
	margin: 30px;
	padding-left:100px;
}


#footer{
	clear:both;
	padding:15px;
	background-color:#ECECEC;
	color:white;
	text-align: center;
	font-family: helvetica;
	color:#B0B0B0;
	font-size: 3%;
	letter-spacing: 1px;

}
#button{
	padding-top:5px;
	padding-left:355px;
	padding:bottom 30px;
}


